<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Problem Solving Lab" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="border border-gray-500 border-4">
    <p class="uppercase mt-2 text-sm text-gray-700 font-extrabold p-2">Body timestamp <%= Time.now %>.</p>
    <main class="container mx-auto mt-28 px-5 flex ">
      <%= yield %>
    </main>
  </body>
</html>

<br><br><br>
1. Ensure the search function operates correctly.<br>
   - When searching by a car make or model and pressing enter, the table should update with the new results.<br>
   - Pagination should accurately reflect the number of searched results.<br>
   - The input field should retain the searched value.<br>
   - The input field should keep the focus.<br>

<br>

2. Implement a "search as you type" feature.<br>
   - Send search requests dynamically while typing, eliminating the need to press enter.<br>
   - Optional: Introduce a throttle to manage the frequency of requests.<br>

<br>

3. Enhance the styling and positioning of pagination (no specific requests, just improve overall appearance).<br>
   - TIP: Use a global search for "border border-" to identify and disable all borders if it helps while working on this.<br>

<br>

4. Wrap the cars index (the container with the red border) in a Turbo Frame to ensure that only that frame refreshes during searches.<br>
   - Ensure that the input retains its value.<br>
   - Ensure that the input remains focused.<br>
   - Ensure that the Body timestamp remains unchanged while the Cars index timestamp updates with each search request.<br>
   - Ensure that pagination functions correctly.<br>
